<div class="forgotcontainer">
    <div class="forgotpage">

        <h2>WELCOME TO CITIZENCONNECT 360</h2>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onsubmit()">


            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" id="Email" formControlName="Email" placeholder="Enter your Email">
            </div>

            <button type="submit">Submit</button>
            <div *ngIf="message" class="message">{{message}}</div>
        </form>

    </div>
</div>