<section class="hero">
    <h1>Empowering Citizens, Enhancing Governance.</h1>
    <p>Welcome to CitizenConnect360, where your voice matters. Engage in decision making, report incidents, and stay
        educated about government documents.</p>
</section>

<div class="chat-container">
    <div class="message-container">
        <div class="message received">
            <img src="chatbot.jpg" alt="ChatBot" class="avatar">
            <div class="message-content">
                <p>Hello. How are you today?</p>
                <span class="time">11:00</span>
            </div>
        </div>

        <div class="message sent">
            <img src="avatar.svg" alt="Avatar" class="avatar">
            <div class="message-content">
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time">11:01</span>
            </div>
        </div>

        <div class="message received">
            <img src="chatbot.jpg" alt="ChatBot" class="avatar">
            <div class="message-content">
                <p>Sweet! So, what do you wanna do today?</p>
                <span class="time">11:02</span>
            </div>
        </div>

        <div class="message sent">
            <img src="avatar.svg" alt="Avatar" class="avatar">
            <div class="message-content">
                <p>I want to understand this government finance bill</p>
                <span class="time">11:05</span>
            </div>
        </div>

        <div class="chat-input">
            <input type="text" placeholder="Type a message...">
            <div>
                <img src="send.png" alt="Send" class="send-icon">
            </div>
        </div>
    </div>
</div>