<div class="main">
    
    <section class="hero">
        <h1>Empowering Citizens, Enhancing Governance.</h1>

        <img src="kenya.webp" alt="kenya" class="style-image">

        <p>Welcome to CitizenConnect360, where your voice matters, Engage in decision making, report incidents, and stay
            educated about government documents. </p>
    </section>

    <section class="features">

        <div class="main">
            <div class="feature-item chatai">
                <div class="img">
                    <img src="chatbot.jpg" alt="Chatbot" class="styled-image">
                </div>
                <div class="description">
                    <h2>CHAT AI</h2>
                    <p>CHAT WITH THE AI TO EDUCATE YOURSELF ON ANY QUESTIONS YOU HAVE REGARDING TOPICS LIKE THE FINANCE
                        BILL.</p>
                </div>
            </div>

            <div class="feature-item incidents">
                <div class="img">
                    <img src="report.png" alt="Report" class="styled-image">
                </div>
                <div class="description">
                    <h3>REPORT</h3>
                    <p>YOU CAN REPORT ON ANY INCIDENT THAT IS HAPPENING IN YOUR AREA. IF PEOPLE HAVE BEEN HURT, MEDICS
                        WILL BE SENT TO THE AREA REPORTED AND FIRST AID WILL BE PROVIDED. IF SHOPS HAVE BEEN LOOTED,
                        POLICE WILL BE SENT. IF YOU HAVE BEEN ARRESTED, WE CAN LOCATE LAWYERS NEAR YOU.</p>
                </div>
            </div>

            <div class="feature-item views">
                <div class="img">
                    <img src="views.png" alt="Views" class="styled-image">
                </div>
                <div class="description">
                    <h4>VIEWS</h4>
                    <p>CHECK ON VIEWS AND SUGGESTIONS MADE BY OTHER PEOPLE ON THIS PLATFORM AND IDENTIFY THE CRITICAL
                        AREAS.</p>
                </div>
            </div>

            <div class="feature-item polls">
                <div class="img">
                    <img src="polls.png" alt="Polls" class="styled-image">
                </div>
                <div class="description">
                    <h5>POLLS</h5>
                    <p>YOU CAN VOTE ON IDEAS DISPLAYED FOR A BETTER DECISION-MAKING PROCESS.</p>
                </div>
            </div>
        </div>

    </section>


    <footer class="footer" style="background-image: url('footer.jpg'); background-size: cover; background-position: center;">

        <p>&copy; 2024 CitizenConnect360. All rights reserved.</p>
    
        <div class="social-links">
            <a href="https://instagram.com" target="_blank">
                <img src="instagram.svg" alt="" class="styled-image">
            </a>
            <a href="https://twitter.com" target="_blank">
                <img src="twitter.svg" alt="" class="styled-image">
            </a>
            <a href="https://facebook.com" target="_blank">
                <img src="facebook.svg" alt="" class="styled-image">
            </a>
            <a href="https://threads.com" target="_blank">
                <img src="threads.svg" alt="" class="styled-image">
            </a>
        </div>
    </footer>
    

</div>