<div class="main">
    <section class="hero">
        <h1>Empowering Citizens, Enhancing Governance.</h1>
        <p>Welcome to CitizenConnect360, Admin Dashboard.</p>
    </section>

    <img src="admin.png" alt="Vote Casting" class="feature-image">


    <section class="features">
        
        <div class="feature-item">
            <div class="description">
                <h2>User Engagement</h2>
                <p>Get all the users, approve the government officials , reject any approved government official and delete users.</p>
            </div>
        </div>

        <div class="feature-item">
            <div class="description">
                <h2>Incident Reporting</h2>
                <p>Get to see all the reported incidents.</p>
            </div>
        </div>

        <div class="feature-item">
            <div class="description">
                <h2>Views Summary</h2>
                <p>See the summary of all the views made.
                </p>
            </div>
        </div>
    </section>
    <footer class="footer"
        style="background-image: url('footer.jpg'); background-size: cover; background-position: center;">
        <p>&copy; 2024 CitizenConnect360. All rights reserved.</p>
        <div class="social-links">
            <a href="https://instagram.com" target="_blank">
                <img src="instagram.svg" alt="Instagram" class="styled-image">
            </a>
            <a href="https://twitter.com" target="_blank">
                <img src="twitter.svg" alt="Twitter" class="styled-image">
            </a>
            <a href="https://facebook.com" target="_blank">
                <img src="facebook.svg" alt="Facebook" class="styled-image">
            </a>
            <a href="https://threads.com" target="_blank">
                <img src="threads.svg" alt="Threads" class="styled-image">
            </a>
        </div>
    </footer>
</div>